

<% include ./_includes/header %>

<ul>
    <% var i=0; %>
        <% while (i<cat.length) { %>
            <li>
                <%= cat[0].categories.categories %>
            </li>
        <% i++; %>
    <% } %>
</ul>

<% include ./_includes/footer %>